<div style="margin-top: 4%;" class="fundo-faq  uk-text-center uk-border-rounded">

    <div  style="margin-top: 4%;" class="uk-text-center uk-flex-center ">
        <h1 uk-parallax="" >FAQ - Perguntas Frequentes:</h1>
    </div>

<ul style="margin-bottom: 4%;" uk-accordion>
    <li>
        <a class="uk-accordion-title" href>O que é o Devcamp?</a>
        <div class="uk-accordion-content">
            <p>É um programa de imersão tecnológica com foco para Cloud, DevOps e Gestão de Infraestrutura TI, direcionada a profissionais e estudantes da área que desejam se actualizar e aprimorar suas habilidades num ambiente profissional </p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href>Quem pode participar do Devcamp?</a>
        <div class="uk-accordion-content">
            <p>Profissionais de T.I e estudantes de T.I</p>
        </div>
    </li>
    <li>
        <a class="uk-accordion-title" href>O que eu vou aprender no Devcamp?</a>
        <div class="uk-accordion-content">
            <p > Criar máquina virtuais em infraestrutura de
                nuvem pública <br> Como hospedar aplicações/websites em um servidor
                cPanel<br> Como provisionar, instalar, administrar servidores Linux
            <br>Como escolher o framework javascript certo para o seu projecto, e como
            começar um projecto de desenvolvimento web com o NodeJS e Angular
            <br>Como funcionam o HTML e CSS<br> TypScript <br> UIKit (biblioteca front-end)
            <br>Git: Como criar, usar e gerenciar repositórios do GitHub
            <br>O poder do SHELLSCRIPT e do protocolo SSH no
            gerenciamento de infraestruturas de computação
            <br> Gerenciamento de servidores cPanel.</p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href>Qual é a metodologia de ensino do Devcamp?</a>
        <div class="uk-accordion-content">
            <p style="color:black">
                Metodologia de ensino prática, com atividades individuais e projetos reais.
            </p>
        </div>
    </li>

    <li>
        <a class="uk-accordion-title" href>Qual a duração do Devcamp?</a>
        <div class="uk-accordion-content">
            <p style="color:black">
                O programa tem duração de 6 horas diárias separados em 2 dias.
            </p>
        </div>
    </li>



</ul>

