.fundo-faq{
  padding: 20px;
  z-index: 10;
    color: #fff;
}

.perguntas{
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/devcamp-(1).jpg');
  background-size: cover;
  background-position: center;
}
.perguntas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.541); /* ajusta a opacidade e a cor */
  z-index: 1;
}
.img img{
  width: 300px;
}

h1, p, a h2, h3, a{
   color: rgb(255, 255, 255);
}
