<div class="container">
    <div class="slider">
        <div class="slides" style="--img: url('/assets/devcamp2024.jpg')">
            <div class="content">
                <h2>Acesso à
                  Estagio Profissional</h2>
                <p>Programa de estágio que preparará você para actuar como profissional de DevOps ou Cloud Engineer em empresas de diversos portes.</p>
                  <button class="botao-animado">Saber mais</button>
            </div>
        </div>

        <div class="slides" style="--img: url('/assets/devcamp-(5).jpg')">
            <div class="content">
                <h2>O que é o DevCamp?</h2>
                <p>É um programa de imersão tecnológica com foco para Cloud, DevOps e Gestão de Infraestrutura TI, direcionada a profissionais e estudantes da área que desejam se actualizar e aprimorar suas habilidades num ambiente profissional.</p>
                <button class="botao-animado">Saber mais</button>
            </div>
        </div>

        <div class="slides" style="--img: url('/assets/devcamp-(4).jpg')">
            <div class="content">
                <h2>Mentoria
                  personalizada</h2>
                <p>Obtenha orientação e acelere seu desenvolvimento profissional com o acompanhamento de um mentor que já trilhou o caminho que deseja seguir.</p>
                <button class="botao-animado">Saber mais</button>
            </div>
        </div>

        <div class="slides" style="--img: url('/assets/devcamp26.jpg')">
            <div class="content">
                <h2>Networking
                  com profissionais</h2>
                <p>Amplie sua rede de contactos, faça networking com profissionais e conecte-se com quem podem lhe abrir portas para novas oportunidades </p>
                <button class="botao-animado">Saber mais</button>
            </div>
        </div>

        <div class="slides" style="--img: url('/assets/devcamp-(1).jpg')">
            <div class="content">
                <h2>Certificado de conclusão</h2>
                <p>Receba um certificado de conclusão que comprovará seus conhecimentos em DevOps, Cloud Computing e Gestão de Infraestrutura de TI.</p>
                <button class="botao-animado">Saber mais</button>
            </div>
        </div>

        <div class="slides" style="--img: url('/assets/devcamp-(3).jpg')">
            <div class="content">
                <h2>Almoço Grátis e Wi-Fi Livre!</h2>
                <p>Pensando no seu bem-estar e na sua produtividade, oferecemos aos participantes do DevCamp Almoço Grátis e Wi-Fi Livre! Para aprenderes sem preocupações.</p>
                <button class="botao-animado">Saber mais</button>
            </div>
        </div>
    </div>

    <div class="buttons">
        <span class="prev"></span>
        <span class="next"></span>
    </div>

</div>
