
<section>


<header class="uk-container">
    <div class="logo">
        <img src="/assets/logo.png">
    </div>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
        <div class="logo">
            <img src="/assets/logo.png">
        </div>
      <ul>
        <li>
            <a href="" class="active">Início</a>
        </li>


        <li>
            <a href="">Nosso eventos</a>
        </li>

        <li>
            <a href="">Validar certificado</a>
        </li>


    </ul>
    </nav>

    <label for="nav_check" class="hamburguer">
        <div></div>
        <div></div>
        <div></div>
    </label>

</header>
</section>
