<nav class="uk-navbar-container uk-container-transparent vermelho">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-center">

                <div class="uk-navbar-center-left">
                    <ul class="uk-navbar-nav">
                        <li class=""><a href="#">O que é ?</a></li>
                        <li class=""><a href="#">O que vais apresender?</a></li>
                
                    </ul>
                </div>
                <a class="uk-navbar-item  " href="#">   <h1 style="color: white;"><b>&lt;DevCamp&gt;</b></h1> </a>
                <div class="uk-navbar-center-right">
                    <ul class="uk-navbar-nav ">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>