.uk-card{
    color: rgb(255, 0, 0);
    border: 3px;
    border-color: red;
    border-style:solid;
    border-radius: 20;

}
h3, p{
  color: rgb(255, 0, 0);
}

.beneficio{
  padding:55px;
  background:white;

}
