<div style="margin-top: 2%;"  class="uk-container  ">
    <div class="uk-child-width-1-4@m uk-grid-small uk-grid  " uk-grid>
  
          <div class="uk-animation-toggle" tabindex="0"> 
              <div class=" uk-card uk-card-small uk-animation-shake uk-animation-reverse">
                <div class="uk-card-body  uk-border-rounded">
                  <span uk-icon="icon: bolt; ratio: 2"></span>
                  <h3><b>Acesso à Estagio Profissional</b></h3>
                  <p>Programa de estágio que preparará você para actuar como profissional de DevOps ou Cloud Engineer em empresas de diversos portes</p>
  
                </div>
              </div>
          </div>
  
          <div> 
            <div  class="uk-animation-toggle" tabindex="0">
              <div class="uk-card uk-card-small  uk-animation-shake uk-animation-reverse">
                <div class="uk-card-body uk-border-rounded">
                  <span uk-icon="icon: users; ratio: 2"></span>
                  <h3><b>Mentoria personalizada</b></h3>
                  <p>Obtenha orientação e acelere seu desenvolvimento profissional com o acompanhamento de um mentor que já trilhou o caminho que você deseja seguir.</p>
                </div>
              </div>
            </div>
          </div>
  
          <div> 
            <div  class="uk-animation-toggle" tabindex="0">
               <div class="uk-card uk-card-small">
                <div class="uk-card-body uk-border-rounded  uk-animation-shake uk-animation-reverse">
                  <span uk-icon="icon: social; ratio: 2"></span>
                  <h3><b>Networking com profissionais</b></h3>
                  <p>Amplie sua rede de contactos faça networking com profissionaise conecte-se com quem podem te abrir portas para novas oportunidades.</p>
                </div>
              </div>
            </div>
          </div>
  
          <div> 
            <div class="uk-animation-toggle" tabindex="0">
              <div class="uk-card uk-card-small uk-animation-shake uk-animation-reverse">
                <div class="uk-card-body uk-border-rounded">
                  <span uk-icon="icon: bookmark; ratio: 2"></span>
                  <h3><b> Certificado de conclusão</b></h3>
                  <p>Receba um certificado de conclusão que comprovará seus conhecimentos e habilidades em DevOps, Cloud Computing e Gestão de Infraestrutura de TI.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  