/* You can add global styles to this file, and also import other style files */

p, h1, h2, h3, a, li, nav {

    color:white;
    font-family: "San Francisco", "SF Pro", sans-serif !important;

}

.uk-container, .uk-heading-medium, .uk-heading-small, .uk-text, .uk-button {
  font-family: "San Francisco", "SF Pro", sans-serif !important ;
}

body, html {


  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  
  background-image: url('/assets/background.png');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  background-size: cover;
    

}

/* Set body styles */
html, body {
    height: 100%;
  }

  
/* Lines container styles */
.lines {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  /* Line styles */
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    
  }
  
  /* Line animation pseudo-element styles */
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  /* Animation styles for first line */
  .line:nth-child(1) {
    margin-left: -25%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 2s;
  }
  
  /* Animation styles for third line */
  .line:nth-child(3) {
    margin-left: 25%;
  }
  
  .line:nth-child(3)::after {
    animation-delay: 2.5s;
  }
  
  /* Animation definition */
  @keyframes drop {
    1% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }