<div  style="margin-top: 2%;" class=" fundo-preto uk-text-center uk-flex-center ">
    <h1 uk-parallax="" >Quais tecnologias iremos utilizar?</h1>

<div uk-parallax="start: 100%; end: 100%;" class="uk-margin-medium uk-grid-small uk-text-center uk-child-1-5@m uk-flex-inline" uk-grid>
    
    <div  class="  uk-flex-first uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/clouds2africa.png">
        <p>Clounds2Africa<br>by Angola Cables</p>

    </div>
    <div  class=" uk-width-1-5@m" >
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/host2africa.png">
        <p>Host2Africa<br>by Angola Cables</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/linux.png">
        <p>Linux</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/nodejs.png">
        <p>NodeJS</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/angular.png">
        <p>Angular</p>
    </div>


    

</div>




<div uk-parallax="start: 100%; end: 100%;" class="uk-margin-medium uk-grid-small uk-text-center uk-child-1-5@m uk-flex-inline" uk-grid>
    
    <div  class="  uk-flex-first uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/html.png">
        <p>HTML 5</p>

    </div>
    <div  class=" uk-width-1-5@m" >
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/css.png">
        <p>CSS</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/typescript.png">
        <p>Typescript</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/uikit.png">
        <p>UIKit</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/git-hub.png">
        <p>Git + GitHub</p>
    </div>


    

</div>




<div uk-parallax="start: 100%; end: 100%;" class="uk-margin-medium uk-grid-small uk-text-center uk-child-1-5@m uk-flex-inline" uk-grid>
    
    <div  class="  uk-flex-first uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/bash.png">
        <p>BASH</p>

    </div>
    <div  class=" uk-width-1-5@m" >
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/powershell.png">
        <p>PowerShell</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/ssh.png">
        <p>SSH</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/cpanel.png">
        <p>cPanel</p>

    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/tecnologias/logos/aapanel.png">
        <p>aaPanel</p>
    </div>


    

</div>


</div>