
<div class="uk-magin-large-top fundo">
<div class="uk-container fundo-principal">
    <div  style="margin-top: 4%;" class="uk-text-center uk-flex-center ">
        <h1 uk-parallax="" >Quais tecnologia vais apreender?</h1>
    </div>

<div class="uk-grid uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
    <div>
        <div class="fundo-tech uk-padding">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/clouds2africa.png">
            <p>Clouds2Africa </p>
        </div>
    </div>
    <div>
        <div class="fundo-tech uk-padding uk-light">
            <img class=" uk-border-rounded" src="/assets/tecnologias/logos/host2africa.png">
            <p>Host2Africa<br></p>
        </div>
    </div>
    <div>
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/linux.png">
            <p>Linux<br></p>
        </div>
    </div>
    <div>
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/nodejs.png">
            <p>NodeJS</p>
        </div>
    </div>
    <div>
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/angular.png">
            <p>Angular</p>
        </div>
    </div>

    <div>
      <div class="fundo-tech uk-padding">
          <img class="uk-border-rounded" src="/assets/tecnologias/logos/html.png">
          <p>HTML 5</p>
      </div>
  </div>
  <div>
      <div class="fundo-tech uk-padding uk-light">
          <img class="uk-border-rounded" src="/assets/tecnologias/logos/css.png">
          <p>CSS</p>
      </div>
  </div>
</div>






<div class="  uk-grid uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
  <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/typescript.png">
            <p>Typescript<br></p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/uikit.png">
            <p>UIkit</p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/git.png">
            <p>Git + GitHub</p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/bash.png">
            <p>BASH</p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/powershell.png">
            <p>PowerShell</p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/ssh.png">
            <p>SSH<br></p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/cpanel.png">
            <p>cPanel</p>
        </div>
    </div>
    <div class="spaco">
        <div class="fundo-tech uk-padding uk-light">
            <img class="uk-border-rounded" src="/assets/tecnologias/logos/aapanel.png">
            <p>aaPanel</p>
        </div>
    </div>
</div>

</div>
</div>


