.icone {
    color:red
  }
  
  .fundo {
  
    background-color: red;
  
  }

  .fundo-preto{

    background-color: #db0000 !important;
    background-blend-mode: multiply  !important;
    padding: 5%;
    border-radius: 2px;
    border-color: white;
  }

  .texto {
    color:black !important
  }
  
  .banner {
    width: 100%;
    height: auto;
    padding-top: 24px;
  }
  
  
  .dominios {
  
      display:inline-block;
      padding-left: 10%;
      padding-right: 10%;
  
  }

  h1, h3,  p {

    color: white !important;
  }

 
.botao {

    color: red;
    background-color: white;
  
  }
  
  .botao:hover  {
    
    color: white;
    background-color: red;
    cursor: pointer !important;
  
  }