.fundo{
  width:100%;
  background:#fefefe;
  display:flex;
  align-items:center;
  margin:0 auto;
  overflow: hidden;
  margin-top: 50px;
}

.uk-grid {
  grid-gap: 5px; /* Adjust the value for desired gap size */
}
.spaco{
  margin-top: -10%;
}
.icone {
    color:red
  }

  .fundo-tech{
    background-color: rgb(255, 255, 255);


    color: white;
  }



  .fundo-preto{

    background-color: #db0000 !important;
    background-blend-mode: multiply  !important;
    padding: 5%;
    border-radius: 2px;
    border-color: white;
  }

  .texto {
    color:black !important
  }

  .banner {
    width: 100%;
    height: auto;
    padding-top: 24px;
  }


  .dominios {

      display:inline-block;
      padding-left: 10%;
      padding-right: 10%;

  }

 h3,  p {

    color: rgb(0, 0, 0) !important;
  }


  h1{
    color:#db0000;
  }
.botao {

    color: red;
    background-color: white;

  }

  .botao:hover  {

    color: white;
    background-color: red;
    cursor: pointer !important;

  }

 