<app-navbar></app-navbar>

   
<div style="margin-top: 4%;"  class="uk-container">
    <h1 style="color: white;"> Programa <b>DevCamp 2024</b></h1>
    <hr>
    <div style="margin-top: 4%;" class="uk-child-width-1-2@m uk-grid-small uk-grid uk-match-cell "   uk-grid>
        
      
      <!-- Primeiro bloco-->
    <div> 
  
  
        <div style="margin-left:1%;" class="uk-text-middle">
            <h3>Data: 13/07/2024</h3>

            <h1 style="color:white" class="uk-heading">Iª Sessão <br><b>Fundamentos da Computação</b></h1>
            <ul style="list-style-type: none;">
                <li> Estudos aprofundados: <br><b>NPU, CPUs, BIOS, GPU, RAM,HDDs, eSSDs </b> </li>
                <li><b> Análise técnica:</b> <br>Barramentos, Drivers e Interfaces deHardware </li>
                <li> <b>Análise decódigos:</b> LinguagemAssembly;
                    DriversparaBluetooth,Som,etc</li>
                <li> Linguagens de Programação: <br><b> Linguagem de Máquina, Alto Nível e Baixo Nível</b> </li>
                <li> Assembly e C: <br><b>Programação de Drivers</b></li>
                <li><b> S.O:</b> FileSystems,KerneldoLinuxVsWindows,
                    BASHePowerShell,ShellscriptingeSSH</li>
                <li> <b> Virtualização:</b>
                    KVM,HVM,MicrosoftHyper-V,Proxmox,
                    Caso: <b>Clouds2Africa
                    VMs,InstânciaseContainers:</b>
                    Proxmox, VirtualBox, VMware, Docker,
                    Kubernetes,</li>
                <li> <b> BaremetalServersvsVPSs: </b>Benchmarking
                     <b>Cloudcomputing:</b>Clouds2Africa
                   <b>Servidores Web e gerenciadores:</b> 
                    Host2Africa,cPanel,aaPanel
                     <b>Conceitos: </b>Datacenters,CloudPública</li>

                <li> <b>MomentodeNetworking/Comunidade </b></li>
            </ul>
            
            
            <h1 style="color:white" class="uk-heading">IIª Sessão <br><b>DevOps(Full Cycle)</b></h1>
            <ul style="list-style-type: none;" class="text-d">
                <li> <b>Programação:</b></li>
                <li> IDEs (VSCode), extensões e Assistentes IA
                    <b>(GitHubCopilot);</b></li>
                <li> <b>Versionamento:</b> Fundamentos da tecnologia
                    GIT, criaçãoe gestãode repositórios locais e
                    remotos(GitHub)(comandosfundamentais)
                    <b>Infraestrutura como código:</b> Terraform/Toffu</li>
                <li><b> Deploy:</b>Automaçãodedeploy usandoGitHub
                    actions+HospedagemcPaneldaHos2Africa
                   <b> ProvisionamentodeservidorWeb
                    Cloud2Africa: Containerização: Docker:</b>(Linux
                    ApacheeAngular)</li>
                <li><b> Monitoramento:</b></li>
                <li> <b>Logging(conceito)Grafana(Overview)
                    CI/CD:</b>
                    GitHubActions,YAMLeJSON</li>
                <li><b> Build:</b>Gradle
                        <b>NetworkandCyberSecurity </b></li>

                <li> <b>MomentodeNetworking/Comunidade </b></li>
            </ul>

            <h1 style="color:white" class="uk-heading">IIIª Sessão <br><b>Desenvolvedor Web Fullstack</b></h1>
            <ul style="list-style-type: none;">
                <li> <b>Web1.0vsWeb2.0
                        EscolhendoStacks:</b>LAMP,MEAN,etc.</li>
                <li><b> Runtimes:</b>
                        NodeJSeBun</li>
                <li> <b>JavascriptVSTypescript
                    Conceitos:APIs(REST)eCDNs
                    Frameworks(Introdução)
                    Angular,React,NextJS,ExpressJS
                    DesenvolvimentoFront-End:</b>
                     Angular18,HTML,CSS,UIKit  </li>

                <li> <b>MomentodeNetworking/Comunidade </b></li>
                
            </ul>

            <h1 style="color:white" class="uk-heading">IVª Sessão <br><b>Estudo de Caso (Práticas Intensiva)</b></h1>
            <ul style="list-style-type: none;" class="text-d">
                <li> <b> Desenvolvimentodeuma
                    apps imples Versionamento
                    do código Deployment da aplicação
                    Boas práticas
                    Documentação
                    Compliancee Padronização
                    Leida protecção de dados</b></li>

                <li> <b>Apresentação oficial de software:</b>
                    fluxoPLAYOUT
                    fluxoCAST</li>
                <li>  <b>Outorga de Declarações
                    Party-Time/Comunidade </b></li>
                
               
            </ul>
            
            <div style="margin-top: 4%;" class="uk-inline fundo-preto">
              <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small">TORNAR-SE PARCEIRO</button></a>
            </div>
          </div>
    </div>
  
    <!--Segundo Bloco-->
  
    <div> 
      <div style="margin-left:1%;" class="uk-text-middle">

            <h3>Data: 20/07/2024</h3>
          <h1 style="color:white" class="uk-heading">Nosso <br><b>Público-Alvo</b></h1>
          <img class="uk-border-rounded" src="assets/publico-2.jpeg">
          <p style="color: white;" >DevCamp é um programa de imersão tecnólogica (bootcamp) com foco em DevOps e Gestão de
            Infraestrutura de T.I, para profissionais e estudantes da área.
            Oprograma aborda uma ampla gama de tecnologias, práticas e técnicas ligadas a DevOps bem como
            estuda a implementação, gestão e manutenção de infraestrutura de T.I. 
            O DevCamp consiste em 4 sessões, aos sábados do mês selecionado em quatro horas ininterruptas</p>
                    
            <h1 style="color: white;" classe="uk-card-title">Saiba agora  o que vai aprender no DevCamp2024</h1>
          <div style="margin-top: 4%;" class="uk-inline fundo-preto">
            <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small">VER PROGRAMA</button></a>
          </div>
        </div>
  </div>
  
    </div>
  </div>
  
  <app-rodape></app-rodape>
  