
<app-navbar></app-navbar>


<script>
  emailjs.send("service_janacmv","template_3i9ry0y",{
    to_name: "",
    from_name: "",
    message: "",
    package:'',
    prefilled:''

   
    });
  </script>

<!-- Boas vindas -->
<div style="margin-top: 2%;" class="uk-container uk-text-center">
  <h1 style="color: white;" classe="uk-text-center uk-card-title">Aprenda <b>Cloud Computing</b>, <b>DevOps</b><br>e <b>Administração de Servidores Linux</b>!</h1>
</div>

<!-- Figura e Formulário -->
<div style="margin-top: 2%;"  class="uk-container uk-flex ">

  <div class="uk-child-width-1-2@m uk-grid-small uk-grid " uk-grid>
    
    
  <div > 
        <img src="/assets/cloud.png">
          
  </div>

  <!--Formulário-->

  <div class="fundo-form uk-text-center uk-border-rounded">
    <form style="margin-left: 10%; margin-right: 10%; margin-top: 10%; margin-bottom: 10%;" id="contact-form" class="uk-form-stacked" (submit)="sendEmail($event)" >
      <div class="uk-margin">
        <label class="uk-form-label" for="nome"><h4>Nome completo</h4></label>
        <div class="uk-form-controls">
          <input class="uk-input uk-border-rounded" name="from_name" id="nome" type="text" placeholder="Digite seu nome completo">
        </div>
      </div>
  
      <div class="uk-margin">
        <label class="uk-form-label" for="email"><h4>Contacto telefónico</h4></label>
        <div class="uk-form-controls">
          <input class="uk-input uk-border-rounded" name="user_email" id="email" type="number" placeholder="Ex.: +244999000000">
        </div>
      </div>
  
      <div class="uk-margin">
        <label class="uk-form-label" for="select-option"><h4>Ecolha um pacote:</h4></label>
        <div class="uk-form-controls">
          <select class="uk-select uk-border-rounded" id="select-option" [(ngModel)]="selectedOption" name="select-option" (change)="onSelectionChange($event)">
            <option *ngFor="let option of options" [value]="option.value" name="select-option2">{{ option.label }} </option>
          </select>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="prefilled-input"><h4>Valor do Investimento:<br>(escolha um pacote acima)</h4></label>
        <div class="uk-form-controls">
          <input readonly style="background-color: rgb(160, 209, 192);" class="uk-border-rounded uk-input mouse-off" type="text" id="prefilled-input" [(ngModel)]="prefilledValue" name="message">
        </div>
      </div>
      
      <div class="uk-margin">
        <button class="botao-participar uk-button uk-button-danger uk-border-rounded uk-button-large" type="submit" value="Send" >Quero Participar</button>
      </div>
    </form>
 
  </div>

</div>


<!--Texto:  Porquê participar-->

</div>



<div style="margin-top: 3%;" class="uk-container uk-text-center">
  <h1 style="color: white;" classe="uk-text-center uk-card-title">
    Porquê Participar?
  </h1>
</div>

<!-- Cards benefícios -->

<app-beneficios></app-beneficios>

<!-- Tecnologias-->

<app-tecnologias></app-tecnologias>


<!-- Parceiros-->

<app-parceiros></app-parceiros>



<!--Rodapé-->
<app-rodape></app-rodape>


   