<app-navbar></app-navbar>


     
<div style="margin-top: 8%;"  class="uk-container">
  <div class="uk-child-width-1-2@m uk-grid-small uk-grid " uk-grid-match uk-grid>
      <div> 
          <div  class="uk-text-center uk-text-align-center">
            <img src="assets/publico.jpg">
      </div>
  </div>

  <div> 
      <div class="uk-text-middle">
          <h1 style="color:white" class="uk-heading">O que é o <br><b>DevCamp?</b></h1>
          <p style="color: white;" >DevCamp é um programa de imersão tecnólogica (bootcamp) com foco em DevOps e Gestão de
            Infraestrutura de T.I, para profissionais e estudantes da área.
            Oprograma aborda uma ampla gama de tecnologias, práticas e técnicas ligadas a DevOps bem como
            estuda a implementação, gestão e manutenção de infraestrutura de T.I. 
            O DevCamp consiste em 4 sessões, realizadas aos sábados do mês selecionado em quatro horas ininterurptas</p>
            <hr>
                <h1 style="color:white" class="uk-heading">Nosso <br><b>Público-Alvo</b></h1>

                <p style="color: white;" ><b>Profissionais de T.I:</b> técnicos, gestores e outros responsáveis dos departamentos de
                    T.I de empresas do sector público e privados.
                    <br><b>Estudantes de T.I:</b> Estudantes do ensino superior e ensino médio e fase conclusão dos
                    respectivos ciclos de aprendizagem com alto potencial de enquadramento em posições
                    chaves em empresas do sector.</p>
            <hr>        
                     
          
            <h1 style="color: white;" classe="uk-card-title">Aprenda Cloud computing, DevOps e Gestão de Infraestruturas de TI</h1>
          <div style="margin-top: 4%;" class="uk-inline fundo-preto">
            <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small">INSCRIÇÃO</button></a>
            <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small-left">ENTRAR NA SALA</button></a>
          </div>
        </div>
  </div>

  </div>
</div>