<app-navbar></app-navbar>


     
<div style="margin-top: 4%;"  class="uk-container">
  <h1 style="color: white;"> Acerca do <b>DevCamp 2024</b></h1>
  <hr>
  <div style="margin-top: 4%;" class="uk-child-width-1-2@m uk-grid-small uk-grid uk-match-cell "   uk-grid>
      
    
    <!-- Primeiro bloco-->
  <div> 


      <div style="margin-left:1%;" class="uk-text-middle">
          <h1 style="color:white" class="uk-heading">O que é o <br><b>DevCamp?</b></h1>
          <img class="uk-border-rounded" src="assets/publico-2.jpeg">
          <p style="color: white;" >DevCamp é um programa de imersão tecnólogica (bootcamp) com foco em DevOps e Gestão de
            Infraestrutura de T.I, para profissionais e estudantes da área.
            Oprograma aborda uma ampla gama de tecnologias, práticas e técnicas ligadas a DevOps bem como
            estuda a implementação, gestão e manutenção de infraestrutura de T.I. 
            O DevCamp consiste em 4 sessões, aos sábados do mês selecionado em quatro horas ininterruptas</p>
            
          
            <h1 style="color: white;" classe="uk-card-title">Quer juntar sua marca, empresa/negócio?</h1>
          <div style="margin-top: 4%;" class="uk-inline fundo-preto">
            <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small">TORNAR-SE PARCEIRO</button></a>

        </div>
        </div>
  </div>

  <!--Segundo Bloco-->

  <div> 
    <div style="margin-left:1%;" class="uk-text-middle">
        <h1 style="color:white" class="uk-heading">Nosso <br><b>Público-Alvo</b></h1>
        <img class="uk-border-rounded" src="assets/publico-2.jpeg">
        <p style="color: white;" >DevCamp é um programa de imersão tecnólogica (bootcamp) com foco em DevOps e Gestão de
          Infraestrutura de T.I, para profissionais e estudantes da área.
          Oprograma aborda uma ampla gama de tecnologias, práticas e técnicas ligadas a DevOps bem como
          estuda a implementação, gestão e manutenção de infraestrutura de T.I. 
          O DevCamp consiste em 4 sessões, aos sábados do mês selecionado em quatro horas ininterruptas</p>
                  
          <h1 style="color: white;" classe="uk-card-title">Saiba agora  o que vai aprender no DevCamp2024</h1>
        <div style="margin-top: 4%;" class="uk-inline fundo-preto">
          <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small">VER PROGRAMA</button></a>
        </div>
      </div>
</div>

  </div>
</div>

<app-rodape></app-rodape>
