<div style="margin-top: 4%;" class="uk-container uk-text-center">
    <div class="uk-child-width-expand@s uk-text-center  uk-grid-small uk-grid " uk-grid>
        <div style="margin-right: 2%;">
            <h3>Teve lugar nos passados dias  20 e 27 de Julho a 2ª edição do DevCamp 2024 "Cloud Computing, DevOps e Administração de Servidores Linux" com o patrocínio da Angola Cables.</h3>   
               <h3> Cerca de 30 participantes (estudantes e profissionais de TI) deram início a uma trajectória de imersão no uso das tecnologias com maior demanda na computação atualmente, estudando as soluções nacionais oferecidas pela Angola Cables, empresa líder do sector.<br>
                <br>Até a conclusão da imersão no programa DevCamp, os cerca de 30 participantes se tornaram capazes de iniciar uma carreira em TI ou de começar iniciativas de negócios com base nas tecnologias ensinadas.</h3>
            </div>
        
            <div class="iframe-container" style="margin-left: 2%;" class="uk-cover-container  uk-text-center ">
                <iframe width="100%" height="540" src="https://www.youtube.com/embed/fuzcUbjiYN4?autoplay=0&controls=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=0&amp;playsinline=1" title="DevCamp 2024 | Resumo do 1º Dia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    
      
    </div>
    </div>
  