<app-navbar></app-navbar>
<script>
  emailjs.send("service_janacmv","template_3i9ry0y",{
    to_name: "",
    from_name: "",
    message: "",
    package:'',
    prefilled:''


    });
  </script>

  <div class="fundo-formulario">

<!-- Figura e Formulário -->

<div style="margin-top: 2%; "  class="uk-container uk-flex uk-text-center ">

  <div style="background-color: red;" class="uk-text-center uk-border-rounded uk-child-width-1-2@m uk-grid-small uk-grid " uk-grid>

  <div class="uk-text-center" style="margin-top:5%;">
        <h1>Comece sua carreira em T.I,<br>um mercado em ascensão em Angola.</h1>
        <img style="width: 80%; margin-bottom: 10%; " src="/assets/cloud.png">
       <a href="https://devcamp.fluxo-digital.com/downloads/Agenda-DevCamp2024.pdf"> <button  class="botao-agenda uk-border-rounded uk-button uk-button-large uk-border-round">Agenda da Formação</button></a>
    </div>

  <!--Formulário-->
<div class="uk-text-center">
  <div class="fundo-form uk-text-center uk-border-rounded">

    <div class=""></div> <img style="width: 32px; height: 32px; margin-bottom: -10%;" src="/assets/pagamento/banco-bai.png"> <h4>Pagar agora<br>
      <p style="color:black">FLUXO DG COMÉRCIO E SERVIÇOS</p>
      <b>CONTA Nº: <br> 159264757.10001 <br>
      IBAN: <br> 0040 0000 5926 4757 1013 4</b></h4>

    <form style= "margin-left: 10%; margin-right: 10%; padding-bottom: 5%;" id="contact-form" class="uk-form-stacked" (submit)="sendEmail($event)" >
      <div class="uk-margin">
        <label class="uk-form-label" for="nome"><h4>Nome completo</h4></label>
        <div class="uk-form-controls">
          <input class="uk-input uk-border-rounded " name="from_name" id="nome" type="text" placeholder="Digite seu nome completo">
        </div>
      </div>



      <div class="uk-margin">
        <label class="uk-form-label" for="email"><h4>Contacto telefónico / WhatsApp</h4></label>
        <div   class="uk-grid-small uk-form-controls">
          <select  class="uk-select uk-border-rounded" id="country-code" name="pais">
            <option class="uk-text-center" *ngFor="let code of countryCodes" [value]="code.dialCode">{{ code.name }} (+{{ code.dialCode }})</option>
          </select>
          <input class="uk-form-large uk-input  uk-border-rounded" name="user_email" id="email" type="number"  max="1" placeholder="Ex.: 920 000 000 ">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="select-option"><h4>Escolha um pacote:</h4></label>
        <div class="uk-form-controls">
          <select class="uk-select uk-border-rounded" id="select-option" [(ngModel)]="selectedOption" name="select-option" (change)="onSelectionChange($event)">
            <option *ngFor="let option of options" [value]="option.value" name="select-option2">{{ option.label }} </option>
          </select>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="prefilled-input"><h4>Valor a pagar:<br>(escolha um pacote acima)</h4></label>
        <div class="uk-form-controls">
          <input readonly style="background-color: rgb(160, 209, 192);" class="uk-border-rounded uk-input mouse-off" type="text" id="prefilled-input" [(ngModel)]="prefilledValue" name="message">
        </div>
      </div>

      <div class="uk-margin">
        <button class="botao-participar uk-button uk-button-danger uk-border-rounded uk-button-large" type="submit" value="Send" >Quero Participar</button>
      </div>



    </form>

<!-- Javascript do código de país-->
      <script>
      const countryCodeSelect = document.getElementById('country-code');
      const phoneInput = document.getElementById('email');

      countryCodeSelect.addEventListener('change', (event) => {
        const selectedCode = event.target.value;
        phoneInput.value = selectedCode + phoneInput.value;
      });
    </script>

  </div>

</div>
  </div>


<!--Texto:  Porquê participar-->

</div>


</div>
<app-rodape></app-rodape>
