<app-navbar></app-navbar>

<div style="margin-top: 2%;" class="uk-container uk-text-center">
  <h1 style="color: white;" classe="uk-text-center uk-card-title">Aprenda Cloud computing, DevOps <br>e Gestão de Infraestruturas de TI</h1>
</div>
      
<div style="margin-top: 2%;"  class="uk-container">

  <div class="uk-child-width-1-2@m uk-grid-small uk-grid " uk-grid>
      <div> 
          <div  uk-parallax=" easing: 0; opacity: 1,0.5,0.1; y: 0,-100,-180,-240; x: 0,0,0; scale: 1,1,1; end: 5vh + 60%;" class="">
              <img src="/assets/cloud.png" >
          </div>
  </div>

  <div> 
      <div class="uk-text-center">
        <app-formulario></app-formulario>
      </div>
  </div>

  </div>
</div>

<!--Porquê participar-->

<div style="margin-top: 3%;" class="uk-container uk-text-center">
  <h1 style="color: white;" classe="uk-text-center uk-card-title">Porquê Participar?</h1>
</div>




<!-- Tecnologias-->

<app-tecnologias></app-tecnologias>


<!-- Parceiros-->

<app-parceiros></app-parceiros>

     <!-- Animação-->
     <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>


    <app-rodape></app-rodape>
