<app-navbar></app-navbar>
<body>

    <!-- Animação-->
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    <div class="texto-grande uk-text-center">
      <h1 style="color: white;">IMERSÃO TECNOLÓGIA</h1>

    </div>
      <!-- Moço -->

      <div class=" fundo uk-container">
        <div style="margin: 50% !important" class="uk-text-center">
          <div class="uk-text-left"> <button class="uk-button uk-button-large uk-border-rounded uk-button-danger">TESTE</button></div>
          </div>
      </div>
      
    <p>Teste</p>
</body>