.fundo {

    background-color: white;
    border-color: white;

}

.botao {

    background-color: red;
    color: white;
}



  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}