

<script>
    emailjs.send("service_janacmv","template_3i9ry0y",{
      to_name: "",
      from_name: "",
      message: "",
      package:''

     
      });
    </script>
 
<div class="fundo uk-border-rounded">

    <div  class="uk-container">

    <form style="margin-left: 10%; margin-right: 10%; margin-top: 10%;" id="contact-form" class="uk-form-stacked" (submit)="sendEmail($event)" >
        <div class="uk-margin">
          <label class="uk-form-label" for="nome">Nome completo</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="from_name" id="nome" type="text" placeholder="Digite seu nome completo">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="email">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="user_email" id="email" type="email" placeholder="Digite seu email">
          </div>
        </div>
    
   
        <div class="uk-margin">
          <label class="uk-form-label" for="mensagem">Pacote</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-hidden" name="message" id="mensagem" type="number" rows="5" placeholder="Ex: +244999999999">
            </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-select">Seleccione</label>
          <div class="uk-form-controls">
              <select class="uk-select" id="form-horizontal-select">
                  <option>Pacote PLUS</option>
                  <option>Pacote LIGHT</option>
                  <option>Pacote ONLINE</option>

              </select>
          </div>
      </div>

<!--JavaScript-->

        <div class="uk-margin">
          <button class="botao uk-button uk-button-danger uk-border-rounded uk-button-large" type="submit" value="Send" >Quero Participar</button>
        </div>
      </form>

    </div>

</div>


<!--Script-->
