

<script>
    emailjs.send("service_janacmv","template_3i9ry0y",{
      to_name: "",
      from_name: "",
      message: "",
      package:''

     
      });
    </script>
 
<div class="fundo uk-border-rounded">

    <div  class="uk-container">

    <form style="margin-left: 10%; margin-right: 10%; margin-top: 10%;" id="contact-form" class="uk-form-stacked" (submit)="sendEmail($event)" >
        <div class="uk-margin">
          <label class="uk-form-label" for="nome">Nome completo</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="from_name" id="nome" type="text" placeholder="Digite seu nome completo">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="email">Email</label>
          <div class="uk-form-controls">
            <input class="uk-input" name="user_email" id="email" type="email" placeholder="Digite seu email">
          </div>
        </div>
    
        <div class="uk-margin">
          <label class="uk-form-label" for="select-option">Selecione a opção (Select Option):</label>
          <div class="uk-form-controls">
            <select class="uk-select" id="select-option" [(ngModel)]="selectedOption" name="select-option" (change)="onSelectionChange($event)">
              <option *ngFor="let option of options" [value]="option.value" name="select-option2">{{ option.label }} </option>
            </select>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="prefilled-input">Valor preenchido (Prefilled Value):</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" id="prefilled-input" [(ngModel)]="prefilledValue" name="prefilled">
          </div>
        </div>
        
<!--JavaScript-->
        <script>
          const selectElement = document.getElementById('form-horizontal-select');
          const messageInput = document.getElementById('mensagem');
        
          selectElement.addEventListener('change', (event) => {
            messageInput.value = event.target.value;
          });
        </script>
<!--Botão-->

        <div class="uk-margin">
          <button class="botao-form uk-button uk-button-danger uk-border-rounded uk-button-large" type="submit" value="Send" >Quero Participar</button>
        </div>
      </form>

    </div>

</div>


<!--Script-->
