<div class="uk-container uk-margin-large-top uk-text-center">
    <h3>Galeria <b>DevCamp 2024 IIª Edição</b></h3>
</div>

<div  class=" uk-border-rounded">

    <div class="uk-margin-medium-top" uk-slider="autoplay:true; autoplay-interval: 2000; finite:false">
        <div class="uk-position-relative">
            <div class="uk-slider-container uk-light">
                <div class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-3@m">
                   
                    <div>
                        <img src="assets/galeria/segunda/devcamp13.jpg" width="100%" height="100%" alt="">                </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp14.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp15.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp16.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp17.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp18.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp19.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp20.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp21.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp22.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp21.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp22.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp23.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp24.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp25.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp26.jpg" width="100%" height="100%" alt="">
                    </div>

                    <div>
                        <img src="assets/galeria/segunda/devcamp1.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp2.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp3.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp4.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp05.jpg" width="100%" height="100%" alt="">
                    </div>
                    <div>
                        <img src="assets/galeria/segunda/devcamp11.jpg" width="100%" height="100%" alt="">
                    </div>
                </div>
            </div>
    
            <div class="uk-hidden@s uk-light">
                <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
    
            <div class="uk-visible@s">
                <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
    
        </div>
    
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>

</div>


