<div  style="margin-top: 5%;" class=" fundo-preto uk-text-center uk-flex-center </b>">
    <h2 style="color: white;"  >O DevCamp aposta em parcerias que agregam valor estratégico<br> ao conteúdo que lhe é entregue e oportunidades diversas desde <b>vagas de emprego</b> à programas de <b>estágio</b> </h2>
    <h1 uk-parallax="" >Conheça os nossos parceiros que tornam possível o DevCamp</h1>

<div uk-parallax="start: 100%; end: 100%;" class="uk-margin-medium uk-grid-small uk-text-center uk-child-1-5@m uk-flex-inline" uk-grid>
    <div  class="  uk-flex-first uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/angola_cables.png">
    </div>
    <div  class=" uk-width-1-5@m" >
        <img class="uk-border-rounded" src="/assets/parceiros/wtm.png">
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/fent.png">
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/mona-tower.png">
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/livetv.png">
    </div>

</div>

<h3> Quer juntar sua marca, empresa/negócio?</h3>
    <a><button routerLink="/servicos" class=" botao uk-border-rounded uk-button-default uk-button-large uk-margin-small-left">TORNAR-SE PARCEIRO</button></a>


</div>