<div  style="margin-top: 5%;" class="uk-container uk-text-center uk-flex-center </b>">
    <h2 style="color: white;"  >Nossos Parceiros</h2>

<div uk-parallax="start: 100%; end: 100%;" class="uk-margin-medium uk-grid-large uk-text-center uk-child-1-5@m uk-flex-inline" uk-grid>
    <div  class="  uk-flex-first uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/angola_cables.png">
        <h3><b>Angola Cables</b></h3>
        <p  class="uk-text-justify">Oferece suporte logístico ao
            programa DevCamp por
            meio da doação de brindes
            damarca AngolaCables ou
            damarcados seus produtos
            esubprodutos.
            Os produtos da Angola
            Cable são de referência e
            uso propagandístico no
            programa DevCamp2024</p>
    </div>
    <div  class=" uk-width-1-5@m" >
        <img class="uk-border-rounded" src="/assets/parceiros/wtm.png">
        <h3><b>Women Tech Makers</b></h3>
        <p  class="uk-text-justify"> Uma marca da Google
            lançada há 5 anos em
            Luanda, Angola, parte de
            um programa global para
            mulheres em tecnologia, é
            plataforma para a
            promoção e de
            coorganizadora do
            programa por meio da sua
            comunidade que conta
            actualmente com mais de
            70 voluntários actuantes na
            área de T.I</p>
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/fent.png">
        <h3><b>F.E.N.T</b></h3>
        <p  class="uk-text-justify"> Como parceiro
            Educacional a FENT da
            UGS serve de plataforma
            para a promoção e
            captção de estudantes
            para o programa e é a
            recomendação exclusiva
            para formação superior
            em T.I no conteúdo
            programático do
            programa</p>
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/mona-tower.png">
        <h3><b>Mona Tower</b></h3>
        <p  class="uk-text-justify"> Como parceiro
            Educacional o Complexo
            Escolar Mona Towerserve
            de plataforma para a
            promoção e captção de
            estudantes para o
            programa e é a
            recomendação exclusiva
            para formação apartir do
            ensino de base em T.I no
            conteúdo programáticodo
            programa</p>
    </div>
    <div class="uk-width-1-5@m">
        <img class="uk-border-rounded" src="/assets/parceiros/livetv.png">
        <h3><b>LiveTV</b></h3>
        <p class="uk-text-justify"> Agência de Criativos e canal
            de televisão recentemente
            licenciada, faz a cobertura
            completa das sessões do
            DevCamp em troca de
            direitos de distribuição do
            programa em sua grelha de
            programação. Oferece
            também os estúdios para
            captação de imagens.</p>
    </div>

</div>

</div>