


<div class="uk-container">
    <div  style="margin-top: 4%;" class="uk-text-center uk-flex-center ">
        <hr>
        <h1 uk-parallax="" >Parceiros</h1>
    </div>

<div class="uk-grid uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
    <div>
        <div class=" uk-padding">
            <p>I.T<br>Partner </p>
            <img class="uk-border-rounded" src="/assets/parceiros/angola_cables.png">
        </div>
    </div>
    <div>
        <div class=" uk-padding uk-light">
            <p>Community<br>Partner<br></p>
            <img class=" uk-border-rounded" src="/assets/parceiros/wtm.jpg">
        </div>
    </div>
    <div>
        <div class=" uk-padding uk-light">
            <p>Science<br>Partner</p>
            <img class="uk-border-rounded" src="/assets/parceiros/fent.png">

        </div>
    </div>
    <div>
        <div class=" uk-padding uk-light">
            <p>Education<br>Partner</p>
            <img class="uk-border-rounded" src="/assets/parceiros/mona-tower.png">
        </div>
    </div>

    <div>
        <div class=" uk-padding uk-light">
            <p>Media<br>Partner</p>
            <img class="uk-border-rounded" src="/assets/parceiros/livetv.png">
        </div>
    </div>
    
    
</div>
